[user]
	name = Retton
	email = hfutwangyd@gmail.com
[github]
	user = mapleking3
	token = 1a8f7757372809366adafb54c688a9
[bitbucket]
	user = hfutwangyd
[alias]
	unstage = reset HEAD --
[diff]
	tool = vimdiff
[difftool]
	prompt = No
[core]
    editor=vim
